dashboard
[{"id":"cbc3efa6.c0d1f8","type":"ibmiot in","z":"d92bc279.83ec4","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":130,"y":120,"wires":[["4f5819ca.b4724","d025969e.8a0838","959430d2.25c12","e6d79c82.be473","b47e9043.08ca98","8cc744b6.24ccd","f4202deb.a58b","8974de75.a75de"]]},{"id":"4f5819ca.b4724","type":"debug","z":"d92bc279.83ec4","name":"","active":false,"console":"false","complete":"false","x":330,"y":60,"wires":[]},{"id":"18805283.bf1dd5","type":"comment","z":"d92bc279.83ec4","name":"GetDataFromPi","info":"","x":140,"y":60,"wires":[]},{"id":"b3cca77e.89f8d8","type":"ui_button","z":"d92bc279.83ec4","name":"","group":"beb9f71b.54e748","order":0,"width":0,"height":0,"passthru":false,"label":"Set Candle to Red","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":360,"wires":[["db5442c3.83b538"]]},{"id":"d025969e.8a0838","type":"ui_text","z":"d92bc279.83ec4","group":"9d06616d.48b6","order":1,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload.candleName}}","layout":"row-spread","x":310,"y":260,"wires":[]},{"id":"db5442c3.83b538","type":"function","z":"d92bc279.83ec4","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["3c5f7439.3125a4"]]},{"id":"3c5f7439.3125a4","type":"ibmiot out","z":"d92bc279.83ec4","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb06","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"ToPiCandle","service":"registered","x":690,"y":420,"wires":[]},{"id":"f4202deb.a58b","type":"ui_text","z":"d92bc279.83ec4","group":"9d06616d.48b6","order":2,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload.value}}","layout":"row-spread","x":320,"y":300,"wires":[]},{"id":"959430d2.25c12","type":"ui_text","z":"d92bc279.83ec4","group":"9d06616d.48b6","order":4,"width":0,"height":0,"name":"","label":"BatLevel","format":"{{msg.payload.batLevel}}","layout":"row-spread","x":320,"y":180,"wires":[]},{"id":"96d07925.842d4","type":"ui_button","z":"d92bc279.83ec4","name":"","group":"beb9f71b.54e748","order":0,"width":0,"height":0,"passthru":false,"label":"Set Candle to Green","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":400,"wires":[["3ea553e7.7a0c0c"]]},{"id":"8974de75.a75de","type":"ui_text","z":"d92bc279.83ec4","group":"9d06616d.48b6","order":3,"width":0,"height":0,"name":"","label":"IpAddress","format":"{{msg.payload.ipAddr}}","layout":"row-spread","x":330,"y":220,"wires":[]},{"id":"3ea553e7.7a0c0c","type":"function","z":"d92bc279.83ec4","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["3c5f7439.3125a4"]]},{"id":"fbb54823.f8f858","type":"ui_button","z":"d92bc279.83ec4","name":"","group":"beb9f71b.54e748","order":0,"width":0,"height":0,"passthru":false,"label":"Set Candle to Blue","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":440,"wires":[["d34638a1.575b58"]]},{"id":"d34638a1.575b58","type":"function","z":"d92bc279.83ec4","name":"SetColorBlue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["3c5f7439.3125a4"]]},{"id":"20a0bcc7.363944","type":"ui_button","z":"d92bc279.83ec4","name":"","group":"beb9f71b.54e748","order":0,"width":0,"height":0,"passthru":false,"label":"Turn Off Candle","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":162.5,"y":511.25,"wires":[["c0e214f2.7b8ad"]]},{"id":"c0e214f2.7b8ad","type":"function","z":"d92bc279.83ec4","name":"SetColorNone","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":402.5,"y":511.25,"wires":[["3c5f7439.3125a4"]]},{"id":"3ffafe87.d7edb2","type":"ui_button","z":"d92bc279.83ec4","name":"","group":"beb9f71b.54e748","order":0,"width":0,"height":0,"passthru":false,"label":"SetCandletoblueFlash","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":560,"wires":[["59dd9b7.adb1ae4"]]},{"id":"59dd9b7.adb1ae4","type":"function","z":"d92bc279.83ec4","name":"setCandleMode=FadeBlueFast","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":01,\n\"speed1\":01,\n\"speed2\":00,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255,\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":560,"wires":[["3c5f7439.3125a4"]]},{"id":"934b10c1.faa97","type":"function","z":"d92bc279.83ec4","name":"DifferentMode","func":"return {payload:0};","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["b8d47882.6b433","e3779223.6d9c28","69795463.e0e3f4"]]},{"id":"e6d79c82.be473","type":"function","z":"d92bc279.83ec4","name":"candleRR","func":"return {payload:msg.payload.candleRR};","outputs":1,"noerr":0,"x":620,"y":80,"wires":[["e3779223.6d9c28"]]},{"id":"b47e9043.08ca98","type":"function","z":"d92bc279.83ec4","name":"candleGG","func":"return {payload:msg.payload.candleGG};","outputs":1,"noerr":0,"x":625.7222595214844,"y":122.1944580078125,"wires":[["69795463.e0e3f4"]]},{"id":"8cc744b6.24ccd","type":"function","z":"d92bc279.83ec4","name":"candleBB","func":"return {payload:msg.payload.candleBB};","outputs":1,"noerr":0,"x":625.7223205566406,"y":162.19442749023438,"wires":[["b8d47882.6b433"]]},{"id":"b8d47882.6b433","type":"ui_gauge","z":"d92bc279.83ec4","name":"","group":"691b038e.0f25cc","order":0,"width":0,"height":0,"gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#6f7dc9","#530dbb"],"seg1":"","seg2":"","x":792.5,"y":175.75,"wires":[]},{"id":"e3779223.6d9c28","type":"ui_gauge","z":"d92bc279.83ec4","name":"","group":"691b038e.0f25cc","order":0,"width":0,"height":0,"gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":790,"y":80,"wires":[]},{"id":"69795463.e0e3f4","type":"ui_gauge","z":"d92bc279.83ec4","name":"","group":"691b038e.0f25cc","order":0,"width":0,"height":0,"gtype":"gage","title":"Green","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#73bc78","#21ac1b"],"seg1":"","seg2":"","x":792.5,"y":115.75,"wires":[]},{"id":"75ba5bac.f3da14","type":"ui_colour_picker","z":"d92bc279.83ec4","name":"","label":"SetCandle to","group":"9d06616d.48b6","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":"6","height":"1","passthru":true,"topic":"","x":150,"y":640,"wires":[["f8b4cf6f.221d88","facf2115.0d5d8"]]},{"id":"f8b4cf6f.221d88","type":"debug","z":"d92bc279.83ec4","name":"","active":true,"console":"false","complete":"false","x":650,"y":640,"wires":[]},{"id":"ab4438a6.ad28f","type":"ui_text","z":"d92bc279.83ec4","group":"9d06616d.48b6","order":2,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":280,"wires":[]},{"id":"facf2115.0d5d8","type":"function","z":"d92bc279.83ec4","name":"SetToSelectedColor","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : msg.payload.r,\n\"gg\" : msg.payload.g,\n\"bb\" :  msg.payload.b\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":640,"wires":[["3c5f7439.3125a4"]]},{"id":"beb9f71b.54e748","type":"ui_group","z":"","name":"Action","tab":"e8fbf326.60dab","disp":true,"width":"6"},{"id":"9d06616d.48b6","type":"ui_group","z":"","name":"Info","tab":"e8fbf326.60dab","disp":true,"width":"6"},{"id":"691b038e.0f25cc","type":"ui_group","z":"","name":"ColorGauges","tab":"e8fbf326.60dab","disp":false,"width":"6"},{"id":"e8fbf326.60dab","type":"ui_tab","z":"","name":"PlayBulbSolutions","icon":"dashboard"}]
