solutions01/play05-events.flow
[{"id":"51025d1.b3a5724","type":"ibmiot in","z":"62270d87.6a8a3c","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":150,"y":160,"wires":[["a5f547b1.652dd","ac72b789.758a98"]]},{"id":"a5f547b1.652dd","type":"debug","z":"62270d87.6a8a3c","name":"","active":false,"console":"false","complete":"false","x":171.5,"y":250.5,"wires":[]},{"id":"8a3be3e9.3eee6","type":"comment","z":"62270d87.6a8a3c","name":"GetDataFromPiCandle","info":"","x":173,"y":75.75,"wires":[]},{"id":"fdc5ec04.dc59a8","type":"debug","z":"62270d87.6a8a3c","name":"ping","active":true,"console":"false","complete":"payload","x":630,"y":100,"wires":[]},{"id":"89434f73.8100c8","type":"comment","z":"62270d87.6a8a3c","name":"Change the deviceID ","info":"","x":173,"y":115.75,"wires":[]},{"id":"ac72b789.758a98","type":"switch","z":"62270d87.6a8a3c","name":"Events","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"ping","vt":"str"},{"t":"eq","v":"onCandleColorChange","vt":"str"},{"t":"eq","v":"onCandleModeChange","vt":"str"},{"t":"eq","v":"onCandleBlowOnOFF","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":410,"y":160,"wires":[["fdc5ec04.dc59a8"],["87abfd8a.0edb5"],["2726a484.f4a6ac"],["d9d2c28.d956bc"],["38c57136.a2b6d6"]]},{"id":"38c57136.a2b6d6","type":"debug","z":"62270d87.6a8a3c","name":"other","active":false,"console":"false","complete":"payload","x":630,"y":300,"wires":[]},{"id":"87abfd8a.0edb5","type":"debug","z":"62270d87.6a8a3c","name":"onCandleColorChange","active":true,"console":"false","complete":"payload","x":680,"y":140,"wires":[]},{"id":"d9d2c28.d956bc","type":"debug","z":"62270d87.6a8a3c","name":"onCandleBlowOnOFF","active":false,"console":"false","complete":"payload","x":680,"y":220,"wires":[]},{"id":"2726a484.f4a6ac","type":"debug","z":"62270d87.6a8a3c","name":"onCandleModeChange","active":false,"console":"false","complete":"payload","x":690,"y":180,"wires":[]},{"id":"2c416713.f521e8","type":"ibmiot out","z":"62270d87.6a8a3c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":770,"y":440,"wires":[]},{"id":"95d1b61e.4062b","type":"inject","z":"62270d87.6a8a3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":540,"wires":[["f0015a16.bf76a"]]},{"id":"f0015a16.bf76a","type":"function","z":"62270d87.6a8a3c","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":540,"wires":[["2c416713.f521e8","4d4fb001.fabce8"]]},{"id":"4d4fb001.fabce8","type":"debug","z":"62270d87.6a8a3c","name":"","active":false,"console":"false","complete":"false","x":770,"y":520,"wires":[]},{"id":"558d7e06.3de918","type":"function","z":"62270d87.6a8a3c","name":"setModeCandleLight","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// mode =01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":\"1\",\n\"speed1\":0,\n\"speed2\":255,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":340,"wires":[["2c416713.f521e8"]]},{"id":"a50317d5.8a4c2","type":"comment","z":"62270d87.6a8a3c","name":"Candle Modes","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":180,"y":291,"wires":[]},{"id":"d98a593f.f4dcc","type":"comment","z":"62270d87.6a8a3c","name":"SetCandleColors","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":160,"y":480,"wires":[]},{"id":"5df8a4a6.e2ae7c","type":"inject","z":"62270d87.6a8a3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":340,"wires":[["558d7e06.3de918"]]},{"id":"75d6b9f9.e34c38","type":"function","z":"62270d87.6a8a3c","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["2c416713.f521e8"]]},{"id":"bf151e84.1a1fb","type":"inject","z":"62270d87.6a8a3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":378,"wires":[["75d6b9f9.e34c38"]]},{"id":"4f631709.d9a158","type":"function","z":"62270d87.6a8a3c","name":"setCandleMode=Rainbow","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00ff00ff 02 00 5f00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":02,\n\"speed1\":95,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":440,"wires":[["2c416713.f521e8","4d4fb001.fabce8"]]},{"id":"d09d6feb.16712","type":"inject","z":"62270d87.6a8a3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":440,"wires":[["4f631709.d9a158"]]},{"id":"fc8e7159.23bd3","type":"function","z":"62270d87.6a8a3c","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":580,"wires":[["2c416713.f521e8"]]},{"id":"423a708d.9709","type":"inject","z":"62270d87.6a8a3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":580,"wires":[["fc8e7159.23bd3"]]}]
