solutions01/play04.flow
[{"id":"663cc621.5aaff","type":"ibmiot in","z":"4b61f53d.4e7d24","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":150,"y":120,"wires":[["67818725.49b818","1fa68e0e.a185fa","ed96f06a.fdd788","337ae1e9.f72aee","bf101316.17596","4f267752.eb84b","d35a1483.1759","aea302e7.63965"]]},{"id":"67818725.49b818","type":"debug","z":"4b61f53d.4e7d24","name":"","active":true,"console":"false","complete":"false","x":410,"y":80,"wires":[]},{"id":"f08349b5.0b4bb","type":"comment","z":"4b61f53d.4e7d24","name":"GetDataFromPi","info":"","x":160,"y":40,"wires":[]},{"id":"f399dd7b.0ac67","type":"ui_button","z":"4b61f53d.4e7d24","name":"","group":"7403572f.6947f","order":0,"width":0,"height":0,"passthru":false,"label":"Set Candle to Red","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":360,"wires":[["6f05bb86.9d0414"]]},{"id":"1fa68e0e.a185fa","type":"ui_text","z":"4b61f53d.4e7d24","group":"7b96dd88.919304","order":1,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload.candleName}}","layout":"row-spread","x":330,"y":260,"wires":[]},{"id":"6f05bb86.9d0414","type":"function","z":"4b61f53d.4e7d24","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":360,"wires":[["6bf1f34d.2a2fd4"]]},{"id":"6bf1f34d.2a2fd4","type":"ibmiot out","z":"4b61f53d.4e7d24","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"ToPiCandle","service":"registered","x":790,"y":420,"wires":[]},{"id":"bf101316.17596","type":"ui_text","z":"4b61f53d.4e7d24","group":"7b96dd88.919304","order":2,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload.value}}","layout":"row-spread","x":340,"y":300,"wires":[]},{"id":"337ae1e9.f72aee","type":"ui_text","z":"4b61f53d.4e7d24","group":"7b96dd88.919304","order":3,"width":0,"height":0,"name":"","label":"IpAddress","format":"{{msg.payload.ipAddr}}","layout":"row-spread","x":350,"y":220,"wires":[]},{"id":"51d48b8e.7116c4","type":"ui_button","z":"4b61f53d.4e7d24","name":"","group":"7403572f.6947f","order":0,"width":0,"height":0,"passthru":false,"label":"SetCandletoblueFlash","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":520,"wires":[["2942a1da.1c2e0e"]]},{"id":"2942a1da.1c2e0e","type":"function","z":"4b61f53d.4e7d24","name":"setCandleMode=FadeBlueFast","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":01,\n\"speed1\":01,\n\"speed2\":00,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255,\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":520,"wires":[["6bf1f34d.2a2fd4"]]},{"id":"ed96f06a.fdd788","type":"function","z":"4b61f53d.4e7d24","name":"candleRR","func":"return {payload:msg.payload.candleRR};","outputs":1,"noerr":0,"x":880,"y":120,"wires":[["fb8e6fcb.1a8a8"]]},{"id":"d35a1483.1759","type":"function","z":"4b61f53d.4e7d24","name":"candleGG","func":"return {payload:msg.payload.candleGG};","outputs":1,"noerr":0,"x":880,"y":160,"wires":[["1f7b1707.1daa51"]]},{"id":"b8b0a63.bdfbf58","type":"ui_gauge","z":"4b61f53d.4e7d24","name":"","group":"6f7fb2b3.bc0454","order":0,"width":0,"height":0,"gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#6f7dc9","#530dbb"],"seg1":"","seg2":"","x":1050,"y":220,"wires":[]},{"id":"fb8e6fcb.1a8a8","type":"ui_gauge","z":"4b61f53d.4e7d24","name":"","group":"6f7fb2b3.bc0454","order":0,"width":0,"height":0,"gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":1050,"y":120,"wires":[]},{"id":"c2cedb6a.f12b98","type":"ui_colour_picker","z":"4b61f53d.4e7d24","name":"","label":"SetCandle to","group":"7b96dd88.919304","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":"6","height":"1","passthru":true,"topic":"","x":170,"y":600,"wires":[["df36f733.62ef38","934e7120.f882b8"]]},{"id":"df36f733.62ef38","type":"debug","z":"4b61f53d.4e7d24","name":"","active":true,"console":"false","complete":"false","x":570,"y":620,"wires":[]},{"id":"4f267752.eb84b","type":"ui_text","z":"4b61f53d.4e7d24","group":"7b96dd88.919304","order":3,"width":0,"height":0,"name":"","label":"event","format":"{{msg.payload.event}}","layout":"row-spread","x":330,"y":180,"wires":[]},{"id":"aea302e7.63965","type":"function","z":"4b61f53d.4e7d24","name":"candleBB","func":"return {payload:msg.payload.candleBB};","outputs":1,"noerr":0,"x":880,"y":220,"wires":[["b8b0a63.bdfbf58"]]},{"id":"1f7b1707.1daa51","type":"ui_gauge","z":"4b61f53d.4e7d24","name":"","group":"6f7fb2b3.bc0454","order":0,"width":0,"height":0,"gtype":"gage","title":"Green","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":1050,"y":160,"wires":[]},{"id":"934e7120.f882b8","type":"function","z":"4b61f53d.4e7d24","name":"SetColor","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : msg.payload.r,\n\"gg\" : msg.payload.g,\n\"bb\" : msg.payload.b,\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":580,"wires":[["6bf1f34d.2a2fd4"]]},{"id":"b68252c3.ac8af","type":"ui_button","z":"4b61f53d.4e7d24","name":"","group":"7403572f.6947f","order":0,"width":0,"height":0,"passthru":false,"label":"Set Candle to Green","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":400,"wires":[["56aee1b8.76edd"]]},{"id":"56aee1b8.76edd","type":"function","z":"4b61f53d.4e7d24","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":400,"wires":[["6bf1f34d.2a2fd4"]]},{"id":"a508e1.0173072","type":"ui_button","z":"4b61f53d.4e7d24","name":"","group":"7403572f.6947f","order":0,"width":0,"height":0,"passthru":false,"label":"Set Candle to Blue","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":440,"wires":[["1ce42ca.fe4cbd3"]]},{"id":"1ce42ca.fe4cbd3","type":"function","z":"4b61f53d.4e7d24","name":"SetColorBlue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":440,"wires":[["6bf1f34d.2a2fd4"]]},{"id":"37c00a7b.98d82e","type":"comment","z":"4b61f53d.4e7d24","name":"Change the deviceID ","info":"","x":180,"y":80,"wires":[]},{"id":"761a89f5.1e3a68","type":"ui_button","z":"4b61f53d.4e7d24","name":"","group":"beb9f71b.54e748","order":0,"width":0,"height":0,"passthru":false,"label":"Turn Off Candle","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":480,"wires":[["48880986.9d5e5"]]},{"id":"48880986.9d5e5","type":"function","z":"4b61f53d.4e7d24","name":"SetColorNone","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":480,"wires":[[]]},{"id":"7403572f.6947f","type":"ui_group","z":"","name":"Action","tab":"2e607aa2.ad9e16","disp":true,"width":"6"},{"id":"7b96dd88.919304","type":"ui_group","z":"","name":"Info","tab":"2e607aa2.ad9e16","disp":true,"width":"6"},{"id":"6f7fb2b3.bc0454","type":"ui_group","z":"","name":"ColorGauges","tab":"2e607aa2.ad9e16","disp":false,"width":"6"},{"id":"beb9f71b.54e748","type":"ui_group","z":"","name":"Action","tab":"e8fbf326.60dab","disp":true,"width":"6"},{"id":"2e607aa2.ad9e16","type":"ui_tab","z":"","name":"PlayBulbStudent","icon":"dashboard"},{"id":"e8fbf326.60dab","type":"ui_tab","z":"","name":"PlayBulbSolutions","icon":"dashboard"}]
