solutions01/play02.flow
[{"id":"824ccec7.698ae8","type":"ibmiot in","z":"cce2ce51.a5c9b","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":130,"y":120,"wires":[["87fb3961.84c6e"]]},{"id":"87fb3961.84c6e","type":"debug","z":"cce2ce51.a5c9b","name":"","active":true,"console":"false","complete":"false","x":370,"y":120,"wires":[]},{"id":"718f2076.193e9","type":"ibmiot out","z":"cce2ce51.a5c9b","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":604.27783203125,"y":347.3889465332031,"wires":[]},{"id":"13f66c30.c07f24","type":"inject","z":"cce2ce51.a5c9b","name":"SetToRed","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":260,"wires":[["dd2a7b60.8a9cb"]]},{"id":"dd2a7b60.8a9cb","type":"function","z":"cce2ce51.a5c9b","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":260,"wires":[["718f2076.193e9","74aacffa.19cde8"]]},{"id":"74aacffa.19cde8","type":"debug","z":"cce2ce51.a5c9b","name":"","active":true,"console":"false","complete":"false","x":602.77783203125,"y":255.88894653320312,"wires":[]},{"id":"c4a6cde2.c2b94","type":"comment","z":"cce2ce51.a5c9b","name":"GetDataFromPiCandle","info":"","x":160,"y":40,"wires":[]},{"id":"4c1fe9db.005f","type":"comment","z":"cce2ce51.a5c9b","name":"SetCandleColors","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":140,"y":220,"wires":[]},{"id":"7915446f.b24c6c","type":"inject","z":"cce2ce51.a5c9b","name":"SetGreen","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":320,"wires":[["fee15315.840d38"]]},{"id":"4dc48326.a50494","type":"function","z":"cce2ce51.a5c9b","name":"SetColorBlue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":348.72216796875,"y":383.6110534667969,"wires":[["718f2076.193e9","74aacffa.19cde8"]]},{"id":"fee15315.840d38","type":"function","z":"cce2ce51.a5c9b","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["74aacffa.19cde8","718f2076.193e9"]]},{"id":"1d9991c1.2cd936","type":"inject","z":"cce2ce51.a5c9b","name":"SetBlue","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":380,"wires":[["4dc48326.a50494"]]},{"id":"c81776c9.f786f","type":"function","z":"cce2ce51.a5c9b","name":"TurnOff","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":440,"wires":[["718f2076.193e9","74aacffa.19cde8"]]},{"id":"4b33afec.417938","type":"inject","z":"cce2ce51.a5c9b","name":"TurnOff","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":440,"wires":[["c81776c9.f786f"]]},{"id":"a8f3ee1e.bdacb8","type":"function","z":"cce2ce51.a5c9b","name":"TurnOn","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 255,\n\"bb\" : 255\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":520,"wires":[["74aacffa.19cde8","718f2076.193e9"]]},{"id":"6926ae60.271898","type":"inject","z":"cce2ce51.a5c9b","name":"TurnOff","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":520,"wires":[["a8f3ee1e.bdacb8"]]},{"id":"c44009fc.b0644","type":"function","z":"cce2ce51.a5c9b","name":"SetColorOrange","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 140,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":580,"wires":[["718f2076.193e9"]]},{"id":"2cd9b66c.f05162","type":"inject","z":"cce2ce51.a5c9b","name":"SetBlue","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":580,"wires":[["c44009fc.b0644"]]},{"id":"b3b1afed.33de88","type":"comment","z":"cce2ce51.a5c9b","name":"Change the deviceID ","info":"","x":160,"y":80,"wires":[]}]
