solutions01/play01.flow
[{"id":"7d53723a.cf3f8c","type":"ibmiot in","z":"cee0583a.5d0b6","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":157,"y":124.25,"wires":[["ce321792.1164a8","28c7d1a1.f643de"]]},{"id":"ce321792.1164a8","type":"debug","z":"cee0583a.5d0b6","name":"","active":false,"console":"false","complete":"false","x":178.5,"y":214.75,"wires":[]},{"id":"b0b7dff5.512578","type":"comment","z":"cee0583a.5d0b6","name":"GetDataFromPiCandle","info":"","x":180,"y":40,"wires":[]},{"id":"1dcdaaf2.ade24d","type":"debug","z":"cee0583a.5d0b6","name":"","active":true,"console":"false","complete":"false","x":627,"y":121,"wires":[]},{"id":"28c7d1a1.f643de","type":"function","z":"cee0583a.5d0b6","name":"","func":"if (msg.payload.candleGG == 255)\nvar newmsg = {};\nmsg.payload = \"Green\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["1dcdaaf2.ade24d"]]},{"id":"caa0b00d.2c36","type":"comment","z":"cee0583a.5d0b6","name":"Change the deviceID ","info":"","x":180,"y":80,"wires":[]}]
