solutions01/play03.flow
[{"id":"146c4009.51e6d","type":"ibmiot out","z":"3e1bffeb.8b3528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":730,"y":300,"wires":[]},{"id":"80a10ff3.d48778","type":"inject","z":"3e1bffeb.8b3528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":500,"wires":[["6b08e410.775124"]]},{"id":"6b08e410.775124","type":"function","z":"3e1bffeb.8b3528","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":355,"y":504.4999694824219,"wires":[["146c4009.51e6d","e35f7924.29b818"]]},{"id":"e35f7924.29b818","type":"debug","z":"3e1bffeb.8b3528","name":"","active":true,"console":"false","complete":"false","x":630,"y":500,"wires":[]},{"id":"320abb06.b361d4","type":"function","z":"3e1bffeb.8b3528","name":"setModeCandleLight","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// mode =01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":\"1\",\n\"speed1\":0,\n\"speed2\":255,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setModeCandleLight\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":200,"wires":[["146c4009.51e6d"]]},{"id":"dc23604a.76dd38","type":"inject","z":"3e1bffeb.8b3528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":300,"wires":[["3bb88973.ae3e26"]]},{"id":"31a7bbe7.efa7a4","type":"function","z":"3e1bffeb.8b3528","name":"setCandleMode=FADEDGB=03","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":1,\n\"speed1\":48,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["146c4009.51e6d"]]},{"id":"319314fa.a662cc","type":"comment","z":"3e1bffeb.8b3528","name":"Candle Modes","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":140,"y":151,"wires":[]},{"id":"ebe18829.4ca5b","type":"comment","z":"3e1bffeb.8b3528","name":"SetCandleColors","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":140,"y":440,"wires":[]},{"id":"3bb88973.ae3e26","type":"function","z":"3e1bffeb.8b3528","name":"setCandleMode=Jump=02","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":2,\n\"speed1\":9,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":301,"wires":[["146c4009.51e6d"]]},{"id":"322bcf3e.ac3ec","type":"inject","z":"3e1bffeb.8b3528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":200,"wires":[["320abb06.b361d4"]]},{"id":"cec18e13.d89c58","type":"inject","z":"3e1bffeb.8b3528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":240,"wires":[["31a7bbe7.efa7a4"]]},{"id":"3b09d250.474dae","type":"function","z":"3e1bffeb.8b3528","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":368,"y":349,"wires":[["146c4009.51e6d"]]},{"id":"b51b75c8.60fa38","type":"inject","z":"3e1bffeb.8b3528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":138,"y":347,"wires":[["3b09d250.474dae"]]},{"id":"e27f162c.4962","type":"function","z":"3e1bffeb.8b3528","name":"setCandleMode=Rainbow","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00ff00ff 02 00 5f00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":02,\n\"speed1\":95,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":358,"y":400,"wires":[["146c4009.51e6d"]]},{"id":"ecf0818.d5f01","type":"inject","z":"3e1bffeb.8b3528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":400,"wires":[["e27f162c.4962"]]},{"id":"141097b9.5e6ca8","type":"function","z":"3e1bffeb.8b3528","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":560,"wires":[["146c4009.51e6d"]]},{"id":"10f729ca.c47fde","type":"inject","z":"3e1bffeb.8b3528","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":560,"wires":[["141097b9.5e6ca8"]]},{"id":"6a0219bd.82bf2","type":"ibmiot in","z":"3e1bffeb.8b3528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":130,"y":100,"wires":[["e85784f1.bdc498"]]},{"id":"e85784f1.bdc498","type":"debug","z":"3e1bffeb.8b3528","name":"","active":false,"console":"false","complete":"false","x":370,"y":100,"wires":[]},{"id":"924a4233.532b5","type":"comment","z":"3e1bffeb.8b3528","name":"GetDataFromPiCandle","info":"","x":160,"y":20,"wires":[]},{"id":"769145c4.f83bfc","type":"comment","z":"3e1bffeb.8b3528","name":"Change the deviceID ","info":"","x":160,"y":60,"wires":[]}]
