excerise01/allflows.flows
[{"id":"884eadeb.ab246","type":"tab","label":"Play01","disabled":false,"info":""},{"id":"db778d01.e0e04","type":"tab","label":"Play02","disabled":false,"info":""},{"id":"e450af22.1699d","type":"tab","label":"Play03","disabled":false,"info":""},{"id":"8a249ad6.6ca0f","type":"tab","label":"Play04","disabled":false,"info":""},{"id":"ef4eb246.a919","type":"tab","label":"Events","disabled":false,"info":""},{"id":"ff007f0f.f804c","type":"ui_group","z":"","name":"Action","tab":"ee6dee4f.1d51f","disp":true,"width":"6"},{"id":"7b2aea80.a74b24","type":"ui_group","z":"","name":"Blue","tab":"ee6dee4f.1d51f","disp":true,"width":"6"},{"id":"5e5cfc35.15f314","type":"ui_group","z":"","name":"ColorGauges","tab":"ee6dee4f.1d51f","disp":false,"width":"6"},{"id":"357a5c54.114b34","type":"ui_group","z":"","name":"Info","tab":"ee6dee4f.1d51f","disp":true,"width":"6"},{"id":"ee6dee4f.1d51f","type":"ui_tab","z":"","name":"PlayBulb","icon":"dashboard"},{"id":"120036b2.518039","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e359bcf9.a9c7d8","type":"ui_group","z":"","name":"Action","tab":"e04b80a8.5ef518","disp":true,"width":"6"},{"id":"384ebc60.72300c","type":"ui_group","z":"","name":"Info","tab":"e04b80a8.5ef518","disp":true,"width":"6"},{"id":"c86c858a.fa4c9","type":"ui_group","z":"","name":"ColorGauges","tab":"e04b80a8.5ef518","disp":false,"width":"6"},{"id":"e04b80a8.5ef518","type":"ui_tab","z":"","name":"PlayBulbStudent","icon":"dashboard"},{"id":"dfc1cfe.825e63","type":"ui_group","z":"","name":"Action","tab":"4e902ba.10077d4","disp":true,"width":"6"},{"id":"aa6296e4.f41cd","type":"ui_group","z":"","name":"Info","tab":"4e902ba.10077d4","disp":true,"width":"6"},{"id":"1beb094b.367d9f","type":"ui_group","z":"","name":"ColorGauges","tab":"4e902ba.10077d4","disp":false,"width":"6"},{"id":"4e902ba.10077d4","type":"ui_tab","z":"","name":"PlayBulbSolutions","icon":"dashboard"},{"id":"8e9f3c90.2a35b","type":"ui_group","z":"","name":"Weather","tab":"45c42c6a.2ffd64","order":1,"disp":true,"width":"6"},{"id":"45c42c6a.2ffd64","type":"ui_tab","z":"","name":"Weather","icon":"dashboard"},{"id":"d5dde468.92c13","type":"twitter-credentials","z":"","screen_name":"@sunitaalves"},{"id":"43595302.5d048c","type":"twitter-credentials","z":"","screen_name":""},{"id":"e22d72a0.fe00b","type":"ui_group","z":"","name":"ISSI","tab":"a76f7445.708b1","order":2,"disp":true,"width":"17"},{"id":"38fc6444.fcdc34","type":"ui_group","z":"","name":"Infos","tab":"a76f7445.708b1","order":3,"disp":true,"width":"8"},{"id":"a76f7445.708b1","type":"ui_tab","z":"","name":"ISSI","icon":"dashboard"},{"id":"9fb3e2b6.e0e22","type":"ibmiot","z":"","name":"","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"fdaa39c0.7524d8","type":"ui_group","z":"","name":"ISS Area","tab":"2d3d3e78.149fb2","order":1,"disp":true,"width":"12"},{"id":"cf450887.c994a8","type":"ui_group","z":"","name":"ISS Infos","tab":"2d3d3e78.149fb2","order":2,"disp":true,"width":"6"},{"id":"bb2f3433.e15978","type":"ui_group","z":"","name":"FromPI","tab":"2d3d3e78.149fb2","order":3,"disp":true,"width":"6"},{"id":"2d3d3e78.149fb2","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"},{"id":"f9b34232.fde36","type":"ui_group","z":"","name":"ISS Area","tab":"424d4d9c.1ef034","order":1,"disp":true,"width":"12"},{"id":"ca5a8cbd.aca83","type":"ui_group","z":"","name":"ISS Infos","tab":"424d4d9c.1ef034","order":2,"disp":true,"width":"6"},{"id":"aea83f4b.c9653","type":"ui_group","z":"","name":"FromPI","tab":"424d4d9c.1ef034","order":3,"disp":true,"width":"6"},{"id":"424d4d9c.1ef034","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"},{"id":"d55d2025.22e51","type":"ui_group","z":"","name":"ISS Area","tab":"cef38bb3.f99468","order":1,"disp":true,"width":"12"},{"id":"4bd4c53d.9a7584","type":"ui_group","z":"","name":"ISS Infos","tab":"cef38bb3.f99468","order":2,"disp":true,"width":"6"},{"id":"d1e32112.60ded8","type":"ui_group","z":"","name":"FromPI","tab":"cef38bb3.f99468","order":3,"disp":true,"width":"6"},{"id":"cef38bb3.f99468","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"},{"id":"81ac59d5.096a88","type":"ui_group","z":"","name":"ISS Area","tab":"b4ee3258.0a713","order":1,"disp":true,"width":"12"},{"id":"bef05243.373a4","type":"ui_group","z":"","name":"ISS Infos","tab":"b4ee3258.0a713","order":2,"disp":true,"width":"6"},{"id":"54d44906.cf3998","type":"ui_group","z":"","name":"FromPI","tab":"b4ee3258.0a713","order":3,"disp":true,"width":"6"},{"id":"b4ee3258.0a713","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"},{"id":"3c55f8d3.9e3368","type":"ui_group","z":"","name":"Action","tab":"fd1ea4fe.a508d8","disp":true,"width":"6"},{"id":"a545c01a.7dc24","type":"ui_group","z":"","name":"Info","tab":"fd1ea4fe.a508d8","disp":true,"width":"6"},{"id":"be6970a7.7e64b8","type":"ui_group","z":"","name":"ColorGauges","tab":"fd1ea4fe.a508d8","disp":false,"width":"6"},{"id":"e75809a.c3c03f8","type":"ui_group","z":"","name":"Action","tab":"b9a747b9.cb40c","disp":true,"width":"6"},{"id":"fd1ea4fe.a508d8","type":"ui_tab","z":"","name":"PlayBulbStudent","icon":"dashboard"},{"id":"b9a747b9.cb40c","type":"ui_tab","z":"","name":"PlayBulbSolutions","icon":"dashboard"},{"id":"8ce9e27a.c9eef","type":"ibmiot in","z":"db778d01.e0e04","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":110,"y":120,"wires":[["80d67d5b.58c9f8"]]},{"id":"80d67d5b.58c9f8","type":"debug","z":"db778d01.e0e04","name":"","active":false,"console":"false","complete":"false","x":350,"y":120,"wires":[]},{"id":"b98a8206.26a3b","type":"ibmiot out","z":"db778d01.e0e04","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":584.27783203125,"y":347.3889465332031,"wires":[]},{"id":"aa4dc070.55e818","type":"inject","z":"db778d01.e0e04","name":"SetToRed","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":260,"wires":[["f3bf4067.f46818"]]},{"id":"f3bf4067.f46818","type":"function","z":"db778d01.e0e04","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["b98a8206.26a3b","1093d603.09ef4a"]]},{"id":"1093d603.09ef4a","type":"debug","z":"db778d01.e0e04","name":"","active":true,"console":"false","complete":"false","x":582.77783203125,"y":255.88894653320312,"wires":[]},{"id":"e6860d04.90bb7","type":"comment","z":"db778d01.e0e04","name":"GetDataFromPiCandle","info":"","x":140,"y":40,"wires":[]},{"id":"d6923e6b.4856f","type":"comment","z":"db778d01.e0e04","name":"SetCandleColors","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":120,"y":220,"wires":[]},{"id":"6b4e3840.9d616","type":"inject","z":"db778d01.e0e04","name":"SetGreen","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":320,"wires":[["10678f51.6c1be9"]]},{"id":"10678f51.6c1be9","type":"function","z":"db778d01.e0e04","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["1093d603.09ef4a","b98a8206.26a3b"]]},{"id":"804908f2.7322c8","type":"function","z":"db778d01.e0e04","name":"TurnOff","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["b98a8206.26a3b","1093d603.09ef4a"]]},{"id":"dde6a57c.8cf25","type":"inject","z":"db778d01.e0e04","name":"TurnOff","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":440,"wires":[["804908f2.7322c8"]]},{"id":"abe3c2b9.db571","type":"comment","z":"db778d01.e0e04","name":"Change the deviceID ","info":"","x":140,"y":80,"wires":[]},{"id":"e94c6772.d48a5","type":"inject","z":"db778d01.e0e04","name":"SetBlue","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":380,"wires":[[]]},{"id":"49bf17ee.518358","type":"inject","z":"db778d01.e0e04","name":"TurnOff","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":520,"wires":[[]]},{"id":"77cc9800.2be378","type":"function","z":"db778d01.e0e04","name":"SetColorOrange","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 140,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":580,"wires":[["b98a8206.26a3b"]]},{"id":"b87219a3.698b08","type":"ibmiot out","z":"e450af22.1699d","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":710,"y":340,"wires":[]},{"id":"5bbf4ffa.ba7878","type":"function","z":"e450af22.1699d","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["b87219a3.698b08","d0b5470e.02291"]]},{"id":"d0b5470e.02291","type":"debug","z":"e450af22.1699d","name":"","active":true,"console":"false","complete":"false","x":710,"y":400,"wires":[]},{"id":"58ee7694.6f3258","type":"function","z":"e450af22.1699d","name":"setModeCandleLight","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// mode =01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\": 4,\n\"speed1\":10,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 255,\n\"bb\" : 100\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["b87219a3.698b08"]]},{"id":"94649eb9.7c1f38","type":"comment","z":"e450af22.1699d","name":"Candle Modes","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":120,"y":191,"wires":[]},{"id":"608c89cb.3de77","type":"comment","z":"e450af22.1699d","name":"SetCandleColors","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":120,"y":360,"wires":[]},{"id":"aab82959.b64be8","type":"inject","z":"e450af22.1699d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":240,"wires":[["58ee7694.6f3258"]]},{"id":"833bb239.097938","type":"function","z":"e450af22.1699d","name":"Flashing - Adjust color","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":30, /// Change Speed\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0,  ///Set Color value \n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["b87219a3.698b08"]]},{"id":"b1d64a52.2143f8","type":"ibmiot in","z":"e450af22.1699d","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":110,"y":140,"wires":[["b3cd01d7.624038"]]},{"id":"b3cd01d7.624038","type":"debug","z":"e450af22.1699d","name":"","active":false,"console":"false","complete":"false","x":350,"y":140,"wires":[]},{"id":"3898d893.5aaf4","type":"comment","z":"e450af22.1699d","name":"GetDataFromPiCandle","info":"","x":140,"y":60,"wires":[]},{"id":"77a618d1.27a758","type":"comment","z":"e450af22.1699d","name":"Change the deviceID ","info":"","x":140,"y":100,"wires":[]},{"id":"b3f6fcf7.534e1","type":"inject","z":"e450af22.1699d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":298,"wires":[[]]},{"id":"e1e6290.06ee258","type":"ibmiot in","z":"884eadeb.ab246","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":90,"y":140,"wires":[[]]},{"id":"60b0d7e4.7d615","type":"debug","z":"884eadeb.ab246","name":"","active":false,"console":"false","complete":"false","x":111.5,"y":230.5,"wires":[]},{"id":"195896d5.4eedc1","type":"comment","z":"884eadeb.ab246","name":"GetDataFromPiCandle","info":"","x":113,"y":55.75,"wires":[]},{"id":"bafe1202.85c3f8","type":"debug","z":"884eadeb.ab246","name":"","active":true,"console":"false","complete":"false","x":560,"y":136.75,"wires":[]},{"id":"2a884a89.4a4e8e","type":"function","z":"884eadeb.ab246","name":"","func":"if (msg.payload.candleGG == 255)\nvar newmsg = {};\nmsg.payload = \"Green\"\nreturn msg;","outputs":1,"noerr":0,"x":323,"y":135.75,"wires":[[]]},{"id":"214341d.2c7893e","type":"comment","z":"884eadeb.ab246","name":"Change the deviceID ","info":"","x":113,"y":95.75,"wires":[]},{"id":"7c6572d3.4acff4","type":"ibmiot in","z":"8a249ad6.6ca0f","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":110,"y":120,"wires":[["62f95fc9.113d68","15b97a14.b5d086","5c8223cd.17ebfc"]]},{"id":"62f95fc9.113d68","type":"debug","z":"8a249ad6.6ca0f","name":"","active":false,"console":"false","complete":"false","x":370,"y":80,"wires":[]},{"id":"4eeaec2c.b469b4","type":"comment","z":"8a249ad6.6ca0f","name":"GetDataFromPi","info":"","x":120,"y":40,"wires":[]},{"id":"6f08f34.bbe840c","type":"ui_button","z":"8a249ad6.6ca0f","name":"","group":"3c55f8d3.9e3368","order":0,"width":0,"height":0,"passthru":false,"label":"Set Candle to Red","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":360,"wires":[["ab7233f1.8b56b"]]},{"id":"8cc868ba.641f48","type":"ui_text","z":"8a249ad6.6ca0f","group":"a545c01a.7dc24","order":1,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload.candleName}}","layout":"row-spread","x":290,"y":260,"wires":[]},{"id":"ab7233f1.8b56b","type":"function","z":"8a249ad6.6ca0f","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["b8f4759c.472a6"]]},{"id":"b8f4759c.472a6","type":"ibmiot out","z":"8a249ad6.6ca0f","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"ToPiCandle","service":"registered","x":750,"y":420,"wires":[]},{"id":"3376444.80c873c","type":"ui_text","z":"8a249ad6.6ca0f","group":"a545c01a.7dc24","order":2,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload.value}}","layout":"row-spread","x":300,"y":300,"wires":[]},{"id":"5c8223cd.17ebfc","type":"ui_text","z":"8a249ad6.6ca0f","group":"a545c01a.7dc24","order":3,"width":0,"height":0,"name":"","label":"IpAddress","format":"{{msg.payload.ipAddr}}","layout":"row-spread","x":310,"y":220,"wires":[]},{"id":"6d236147.af90e","type":"ui_button","z":"8a249ad6.6ca0f","name":"","group":"3c55f8d3.9e3368","order":0,"width":0,"height":0,"passthru":false,"label":"SetCandletoblueFlash","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":520,"wires":[["264eb16e.f0ef8e"]]},{"id":"264eb16e.f0ef8e","type":"function","z":"8a249ad6.6ca0f","name":"setCandleMode=FadeBlueFast","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":01,\n\"speed1\":01,\n\"speed2\":00,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255,\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":520,"wires":[["b8f4759c.472a6"]]},{"id":"15b97a14.b5d086","type":"function","z":"8a249ad6.6ca0f","name":"candleRR","func":"return {payload:msg.payload.candleRR};","outputs":1,"noerr":0,"x":840,"y":120,"wires":[["ec4ae4ad.e1a96"]]},{"id":"a29f2417.fea498","type":"ui_gauge","z":"8a249ad6.6ca0f","name":"","group":"be6970a7.7e64b8","order":0,"width":0,"height":0,"gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#6f7dc9","#530dbb"],"seg1":"","seg2":"","x":1010,"y":220,"wires":[]},{"id":"ec4ae4ad.e1a96","type":"ui_gauge","z":"8a249ad6.6ca0f","name":"","group":"be6970a7.7e64b8","order":0,"width":0,"height":0,"gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":1010,"y":120,"wires":[]},{"id":"f44b08dc.fd8c28","type":"ui_colour_picker","z":"8a249ad6.6ca0f","name":"","label":"SetCandle to","group":"a545c01a.7dc24","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":"6","height":"1","passthru":true,"topic":"","x":130,"y":600,"wires":[["5bf17dd0.367824"]]},{"id":"5bf17dd0.367824","type":"debug","z":"8a249ad6.6ca0f","name":"","active":true,"console":"false","complete":"false","x":530,"y":620,"wires":[]},{"id":"1308a8f1.b0742f","type":"ui_button","z":"8a249ad6.6ca0f","name":"","group":"3c55f8d3.9e3368","order":0,"width":0,"height":0,"passthru":false,"label":"Set Candle to Green","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":400,"wires":[[]]},{"id":"3dd7c411.1e0644","type":"ui_button","z":"8a249ad6.6ca0f","name":"","group":"3c55f8d3.9e3368","order":0,"width":0,"height":0,"passthru":false,"label":"Set Candle to Blue","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":440,"wires":[[]]},{"id":"d65d9e0d.c7b228","type":"comment","z":"8a249ad6.6ca0f","name":"Change the deviceID ","info":"","x":140,"y":80,"wires":[]},{"id":"84f6f014.a7da5","type":"ui_button","z":"8a249ad6.6ca0f","name":"","group":"3c55f8d3.9e3368","order":0,"width":0,"height":0,"passthru":false,"label":"Turn Off Candle","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":480,"wires":[[]]},{"id":"d5559693.d52f2","type":"ui_text","z":"8a249ad6.6ca0f","group":"a545c01a.7dc24","order":3,"width":0,"height":0,"name":"","label":"?????","format":"{{msg.payload.???}}","layout":"row-spread","x":290,"y":180,"wires":[]},{"id":"ec886ca0.bcece","type":"function","z":"8a249ad6.6ca0f","name":"?????","func":"","outputs":1,"noerr":0,"x":510,"y":580,"wires":[["b8f4759c.472a6"]]},{"id":"73d99173.1a1a08","type":"ibmiot in","z":"ef4eb246.a919","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":170,"y":120,"wires":[["d230b70d.c4a468","7f47e3ea.39549c"]]},{"id":"d230b70d.c4a468","type":"debug","z":"ef4eb246.a919","name":"","active":false,"console":"false","complete":"false","x":191.5,"y":210.5,"wires":[]},{"id":"94c86ceb.295e","type":"comment","z":"ef4eb246.a919","name":"GetDataFromPiCandle","info":"","x":193,"y":35.75,"wires":[]},{"id":"48347ffb.7d03c","type":"debug","z":"ef4eb246.a919","name":"ping","active":false,"console":"false","complete":"payload","x":650,"y":60,"wires":[]},{"id":"cac9bbd4.f960b8","type":"comment","z":"ef4eb246.a919","name":"Change the deviceID ","info":"","x":193,"y":75.75,"wires":[]},{"id":"7f47e3ea.39549c","type":"switch","z":"ef4eb246.a919","name":"Events","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"ping","vt":"str"},{"t":"eq","v":"onCandleColorChange","vt":"str"},{"t":"eq","v":"onCandleModeChange","vt":"str"},{"t":"eq","v":"onCandleBlowOnOFF","vt":"str"},{"t":"else"}],"checkall":"true","outputs":5,"x":430,"y":120,"wires":[["48347ffb.7d03c"],[],["eb39f3f8.2181a8"],[],["c4f80fd2.fa0d88"]]},{"id":"c4f80fd2.fa0d88","type":"debug","z":"ef4eb246.a919","name":"other","active":false,"console":"false","complete":"payload","x":650,"y":260,"wires":[]},{"id":"428aec56.9d3134","type":"debug","z":"ef4eb246.a919","name":"onCandleColorChange","active":false,"console":"false","complete":"payload","x":700,"y":100,"wires":[]},{"id":"94ad71fc.b9c868","type":"debug","z":"ef4eb246.a919","name":"onCandleBlowOnOFF","active":false,"console":"false","complete":"payload","x":700,"y":180,"wires":[]},{"id":"eb39f3f8.2181a8","type":"debug","z":"ef4eb246.a919","name":"onCandleModeChange","active":false,"console":"false","complete":"payload","x":710,"y":140,"wires":[]},{"id":"57e3d5e7.ba3494","type":"ibmiot out","z":"ef4eb246.a919","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":790,"y":400,"wires":[]},{"id":"6fa6b24b.d9d57c","type":"inject","z":"ef4eb246.a919","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":500,"wires":[["210c9ff.a6dd56"]]},{"id":"210c9ff.a6dd56","type":"function","z":"ef4eb246.a919","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["57e3d5e7.ba3494","6c2a473a.354448"]]},{"id":"6c2a473a.354448","type":"debug","z":"ef4eb246.a919","name":"","active":false,"console":"false","complete":"false","x":790,"y":480,"wires":[]},{"id":"696168a6.9722a8","type":"function","z":"ef4eb246.a919","name":"setModeCandleLight","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// mode =01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":\"1\",\n\"speed1\":0,\n\"speed2\":255,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["57e3d5e7.ba3494"]]},{"id":"5fbe2d64.6072ac","type":"comment","z":"ef4eb246.a919","name":"Candle Modes","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":200,"y":251,"wires":[]},{"id":"230e08df.a17fd8","type":"comment","z":"ef4eb246.a919","name":"SetCandleColors","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":180,"y":440,"wires":[]},{"id":"48699265.71c9cc","type":"inject","z":"ef4eb246.a919","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":300,"wires":[["696168a6.9722a8"]]},{"id":"962b5f26.d97358","type":"function","z":"ef4eb246.a919","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["57e3d5e7.ba3494"]]},{"id":"5e35f3fa.ae4644","type":"inject","z":"ef4eb246.a919","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":338,"wires":[["962b5f26.d97358"]]},{"id":"37767f47.6ba538","type":"function","z":"ef4eb246.a919","name":"setCandleMode=Rainbow","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00ff00ff 02 00 5f00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":02,\n\"speed1\":95,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":400,"wires":[["57e3d5e7.ba3494","6c2a473a.354448"]]},{"id":"cd4a0ab6.c4a95","type":"inject","z":"ef4eb246.a919","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":400,"wires":[["37767f47.6ba538"]]},{"id":"3117e7f6.1a8d1","type":"function","z":"ef4eb246.a919","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":540,"wires":[["57e3d5e7.ba3494"]]},{"id":"9ebd16b9.d52848","type":"inject","z":"ef4eb246.a919","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":540,"wires":[["3117e7f6.1a8d1"]]}]
