excerise01/play04.flow
[{"id":"7c6572d3.4acff4","type":"ibmiot in","z":"8a249ad6.6ca0f","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":110,"y":120,"wires":[["62f95fc9.113d68","15b97a14.b5d086","5c8223cd.17ebfc"]]},{"id":"62f95fc9.113d68","type":"debug","z":"8a249ad6.6ca0f","name":"","active":true,"console":"false","complete":"false","x":370,"y":80,"wires":[]},{"id":"4eeaec2c.b469b4","type":"comment","z":"8a249ad6.6ca0f","name":"GetDataFromPi","info":"","x":120,"y":40,"wires":[]},{"id":"6f08f34.bbe840c","type":"ui_button","z":"8a249ad6.6ca0f","name":"","group":"3c55f8d3.9e3368","order":0,"width":0,"height":0,"passthru":false,"label":"Set Candle to Red","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":360,"wires":[["ab7233f1.8b56b"]]},{"id":"8cc868ba.641f48","type":"ui_text","z":"8a249ad6.6ca0f","group":"a545c01a.7dc24","order":1,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload.candleName}}","layout":"row-spread","x":290,"y":260,"wires":[]},{"id":"ab7233f1.8b56b","type":"function","z":"8a249ad6.6ca0f","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["b8f4759c.472a6"]]},{"id":"b8f4759c.472a6","type":"ibmiot out","z":"8a249ad6.6ca0f","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"ToPiCandle","service":"registered","x":750,"y":420,"wires":[]},{"id":"3376444.80c873c","type":"ui_text","z":"8a249ad6.6ca0f","group":"a545c01a.7dc24","order":2,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload.value}}","layout":"row-spread","x":300,"y":300,"wires":[]},{"id":"5c8223cd.17ebfc","type":"ui_text","z":"8a249ad6.6ca0f","group":"a545c01a.7dc24","order":3,"width":0,"height":0,"name":"","label":"IpAddress","format":"{{msg.payload.ipAddr}}","layout":"row-spread","x":310,"y":220,"wires":[]},{"id":"6d236147.af90e","type":"ui_button","z":"8a249ad6.6ca0f","name":"","group":"3c55f8d3.9e3368","order":0,"width":0,"height":0,"passthru":false,"label":"SetCandletoblueFlash","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":520,"wires":[["264eb16e.f0ef8e"]]},{"id":"264eb16e.f0ef8e","type":"function","z":"8a249ad6.6ca0f","name":"setCandleMode=FadeBlueFast","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":01,\n\"speed1\":01,\n\"speed2\":00,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255,\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":520,"wires":[["b8f4759c.472a6"]]},{"id":"15b97a14.b5d086","type":"function","z":"8a249ad6.6ca0f","name":"candleRR","func":"return {payload:msg.payload.candleRR};","outputs":1,"noerr":0,"x":840,"y":120,"wires":[["ec4ae4ad.e1a96"]]},{"id":"a29f2417.fea498","type":"ui_gauge","z":"8a249ad6.6ca0f","name":"","group":"be6970a7.7e64b8","order":0,"width":0,"height":0,"gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#6f7dc9","#530dbb"],"seg1":"","seg2":"","x":1010,"y":220,"wires":[]},{"id":"ec4ae4ad.e1a96","type":"ui_gauge","z":"8a249ad6.6ca0f","name":"","group":"be6970a7.7e64b8","order":0,"width":0,"height":0,"gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":1010,"y":120,"wires":[]},{"id":"f44b08dc.fd8c28","type":"ui_colour_picker","z":"8a249ad6.6ca0f","name":"","label":"SetCandle to","group":"a545c01a.7dc24","format":"rgb","outformat":"object","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":false,"showLightness":true,"order":0,"width":"6","height":"1","passthru":true,"topic":"","x":130,"y":600,"wires":[["5bf17dd0.367824"]]},{"id":"5bf17dd0.367824","type":"debug","z":"8a249ad6.6ca0f","name":"","active":true,"console":"false","complete":"false","x":530,"y":620,"wires":[]},{"id":"1308a8f1.b0742f","type":"ui_button","z":"8a249ad6.6ca0f","name":"","group":"3c55f8d3.9e3368","order":0,"width":0,"height":0,"passthru":false,"label":"Set Candle to Green","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":140,"y":400,"wires":[[]]},{"id":"3dd7c411.1e0644","type":"ui_button","z":"8a249ad6.6ca0f","name":"","group":"3c55f8d3.9e3368","order":0,"width":0,"height":0,"passthru":false,"label":"Set Candle to Blue","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":440,"wires":[[]]},{"id":"d65d9e0d.c7b228","type":"comment","z":"8a249ad6.6ca0f","name":"Change the deviceID ","info":"","x":140,"y":80,"wires":[]},{"id":"84f6f014.a7da5","type":"ui_button","z":"8a249ad6.6ca0f","name":"","group":"e75809a.c3c03f8","order":0,"width":0,"height":0,"passthru":false,"label":"Turn Off Candle","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":480,"wires":[[]]},{"id":"d5559693.d52f2","type":"ui_text","z":"8a249ad6.6ca0f","group":"a545c01a.7dc24","order":3,"width":0,"height":0,"name":"","label":"?????","format":"{{msg.payload.???}}","layout":"row-spread","x":290,"y":180,"wires":[]},{"id":"ec886ca0.bcece","type":"function","z":"8a249ad6.6ca0f","name":"?????","func":"","outputs":1,"noerr":0,"x":510,"y":580,"wires":[["b8f4759c.472a6"]]},{"id":"3c55f8d3.9e3368","type":"ui_group","z":"","name":"Action","tab":"fd1ea4fe.a508d8","disp":true,"width":"6"},{"id":"a545c01a.7dc24","type":"ui_group","z":"","name":"Info","tab":"fd1ea4fe.a508d8","disp":true,"width":"6"},{"id":"be6970a7.7e64b8","type":"ui_group","z":"","name":"ColorGauges","tab":"fd1ea4fe.a508d8","disp":false,"width":"6"},{"id":"e75809a.c3c03f8","type":"ui_group","z":"","name":"Action","tab":"b9a747b9.cb40c","disp":true,"width":"6"},{"id":"fd1ea4fe.a508d8","type":"ui_tab","z":"","name":"PlayBulbStudent","icon":"dashboard"},{"id":"b9a747b9.cb40c","type":"ui_tab","z":"","name":"PlayBulbSolutions","icon":"dashboard"}]
