excerise01/play02.flow
[{"id":"8ce9e27a.c9eef","type":"ibmiot in","z":"db778d01.e0e04","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":110,"y":120,"wires":[["80d67d5b.58c9f8"]]},{"id":"80d67d5b.58c9f8","type":"debug","z":"db778d01.e0e04","name":"","active":true,"console":"false","complete":"false","x":350,"y":120,"wires":[]},{"id":"b98a8206.26a3b","type":"ibmiot out","z":"db778d01.e0e04","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":584.27783203125,"y":347.3889465332031,"wires":[]},{"id":"aa4dc070.55e818","type":"inject","z":"db778d01.e0e04","name":"SetToRed","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":260,"wires":[["f3bf4067.f46818"]]},{"id":"f3bf4067.f46818","type":"function","z":"db778d01.e0e04","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["b98a8206.26a3b","1093d603.09ef4a"]]},{"id":"1093d603.09ef4a","type":"debug","z":"db778d01.e0e04","name":"","active":true,"console":"false","complete":"false","x":582.77783203125,"y":255.88894653320312,"wires":[]},{"id":"e6860d04.90bb7","type":"comment","z":"db778d01.e0e04","name":"GetDataFromPiCandle","info":"","x":140,"y":40,"wires":[]},{"id":"d6923e6b.4856f","type":"comment","z":"db778d01.e0e04","name":"SetCandleColors","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":120,"y":220,"wires":[]},{"id":"6b4e3840.9d616","type":"inject","z":"db778d01.e0e04","name":"SetGreen","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":320,"wires":[["10678f51.6c1be9"]]},{"id":"10678f51.6c1be9","type":"function","z":"db778d01.e0e04","name":"SetColorGreen","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":320,"wires":[["1093d603.09ef4a","b98a8206.26a3b"]]},{"id":"804908f2.7322c8","type":"function","z":"db778d01.e0e04","name":"TurnOff","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":440,"wires":[["b98a8206.26a3b","1093d603.09ef4a"]]},{"id":"dde6a57c.8cf25","type":"inject","z":"db778d01.e0e04","name":"TurnOff","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":440,"wires":[["804908f2.7322c8"]]},{"id":"abe3c2b9.db571","type":"comment","z":"db778d01.e0e04","name":"Change the deviceID ","info":"","x":140,"y":80,"wires":[]},{"id":"e94c6772.d48a5","type":"inject","z":"db778d01.e0e04","name":"SetBlue","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":380,"wires":[[]]},{"id":"49bf17ee.518358","type":"inject","z":"db778d01.e0e04","name":"TurnOff","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":520,"wires":[[]]},{"id":"77cc9800.2be378","type":"function","z":"db778d01.e0e04","name":"SetColorOrange","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 140,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":580,"wires":[["b98a8206.26a3b"]]}]
