excerise01/play03.flow
[{"id":"b87219a3.698b08","type":"ibmiot out","z":"e450af22.1699d","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":710,"y":340,"wires":[]},{"id":"5bbf4ffa.ba7878","type":"function","z":"e450af22.1699d","name":"SetColorRed","func":"var newmsg = {\"cmd\" : \"setcolor\",\n\"mode\":\"\",\n\"speed\":\"\",\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":400,"wires":[["b87219a3.698b08","d0b5470e.02291"]]},{"id":"d0b5470e.02291","type":"debug","z":"e450af22.1699d","name":"","active":true,"console":"false","complete":"false","x":710,"y":400,"wires":[]},{"id":"58ee7694.6f3258","type":"function","z":"e450af22.1699d","name":"setModeCandleLight","func":"var newmsg = {\"cmd\" : \"setcolor\",\n// mode =01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\": 4,\n\"speed1\":10,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 255,\n\"bb\" : 100\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["b87219a3.698b08"]]},{"id":"94649eb9.7c1f38","type":"comment","z":"e450af22.1699d","name":"Candle Modes","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":120,"y":191,"wires":[]},{"id":"608c89cb.3de77","type":"comment","z":"e450af22.1699d","name":"SetCandleColors","info":"01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect","x":120,"y":360,"wires":[]},{"id":"aab82959.b64be8","type":"inject","z":"e450af22.1699d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":240,"wires":[["58ee7694.6f3258"]]},{"id":"833bb239.097938","type":"function","z":"e450af22.1699d","name":"Flashing - Adjust color","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":30, /// Change Speed\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0,  ///Set Color value \n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["b87219a3.698b08"]]},{"id":"b1d64a52.2143f8","type":"ibmiot in","z":"e450af22.1699d","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":110,"y":140,"wires":[["b3cd01d7.624038"]]},{"id":"b3cd01d7.624038","type":"debug","z":"e450af22.1699d","name":"","active":false,"console":"false","complete":"false","x":350,"y":140,"wires":[]},{"id":"3898d893.5aaf4","type":"comment","z":"e450af22.1699d","name":"GetDataFromPiCandle","info":"","x":140,"y":60,"wires":[]},{"id":"77a618d1.27a758","type":"comment","z":"e450af22.1699d","name":"Change the deviceID ","info":"","x":140,"y":100,"wires":[]},{"id":"b3f6fcf7.534e1","type":"inject","z":"e450af22.1699d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":298,"wires":[[]]}]
